* {
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

body {
    margin: 0;
    font-family: "Calibri", "Trebuchet MS", Helvetica;
}

.grid {
    width: 100%;
    height: 10em;
    margin: 0;
}

div a {
    text-decoration: none;
    color: white;
}

div h1.title {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 0.25em;
    padding-top: 0.25em;
}

div p.tagline {
    font-size: 1.25em;
    padding-bottom: 0.5em;
    line-height: 1.25em;
}

#box1, #box3, #box5, #box7, #box9, #box11 {
    background-color: #ff5550;
    color: white;
}

div#box1 {
    text-align: center;
    height: 11em;
}

div#box1 button {
    width: 40%;
    padding: 1% 0%;
    font-size: 1em;
    background-color: #ff5550;
    color: white;
    border: 1px solid white;
}

div.grid h3 {
    text-align: center;
    position: relative;
    top: 40%;
    font-size: 1.25em;
}

a:hover, button:hover {
    color: #2C2E4F;
}

nav.header-nav a:hover {
    color: #2C2E4F;
}

/* Individual pages styles */

div.header {
    width: 100%;
    background-color: #ff5550;
    padding: 1em 1em 11em 2em;
    height: 0em;
    text-align: center;
}

div.header h1 {
    font-size: 3em;
}

div.header nav {
    padding: 1em 0em 0em 0em;
}

div.header a {
    color: white;
}

.header-btn {
    width: 35%;
    padding: 3% 5%;
    font-size: 1em;
    background-color: #ff5550;
    color: white;
    border: 1px solid white;
    margin-top: 0.5em;
}

.summary-img {
    width: 90%;
    height: 15em;
    border: 1px solid black;
    margin: 1em;
}

div.summary {
    width: 90%;
    margin: 1em;
}

.summary h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.summary p {
    line-height: 2.5em;
    margin-left: 1em;
}

div.summary li {
    font-weight: 900;
}

div.summary ul.summary-list {
    list-style: circle;
    line-height: 3em;
    margin-left: 2em;
}

div.footer {
    background-color: #ff5550;
    color: white;
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding: 1%;
}

/* End of individual pages styles */

@media screen and (min-width: 600px) and (max-width: 900px) {
    .responsive {
        float: left;
        width: 50%;
    }

    /* Individual Pages styles (responsive-mid) */
    .footer {
        clear: both;
        width: 100%;
    }

    .summary-img {
        width: 20%;
        height: 30em;
        border: 1px solid black;
        margin: 1em;
    }

    div.summary {
        float: right;
        width: 69%;
    }

    div.summary h3 {
        font-size: 2em;
        margin: 3% 0;
    }

    div.summary p {
        line-height: 2.5em;
        margin-left: 1em;
    }

    div.summary li {
        font-weight: 900;
    }

    div.summary ul.summary-list {
        list-style: circle;
        line-height: 3em;
        margin-left: 2em;
    }

    /* End of Individual Pages styles (responsive-mid) */
}

@media screen and (min-width: 901px) {
    #box1 {
        width: 66.66666%;
        float: left;
    }

    #box2 {
        width: 33.33333%;
        float: right;
    }

    #box3, #box6, #box9 {
        clear: both;
        float: left;
        width: 33.3333%;
    }

    #box4, #box5, #box7, #box8, #box10, #box11 {
        float: left;
        width: 33.3333%;
    }

    div#box1 button {
        width: 12em;
        padding: 1% 0%;
    }

    .header-btn {
        width: 12em;
        padding: 1% 0%;
    }

    /* Individual Pages styles (responsive-wide) */

    li {
        font-weight: 900;
    }

    .footer {
        clear: both;
        width: 100%;
    }

    .summary-img {
        float: left;
        width: 20%;
        height: 30em;
        border: 1px solid black;
        margin: 1em;
    }

    div.summary {
        float: right;
        width: 72%;
    }

    div.summary h3 {
        font-size: 2.5em;
        margin: 3% 0;
    }

    div.summary p {
        line-height: 3em;
        font-size: 1.25em;
        margin-right: 4em;
        padding-left: 1em;
    }

    div.summary ul.summary-list {
        list-style: circle;
        line-height: 3em;
        margin-left: 3em;
    }

    ul p.list-descriptions {
        font-size: 1em;
    }

    /* End of Individual Pages styles (responsive-wide) */
}
    
}