* {
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

body {
    margin: 0;
    font-family: "Calibri", "Trebuchet MS", Helvetica;
    height: 100%;
}

div a {
    text-decoration: none;
    color: white;
}

.grid {
    width: 100%;
    height: 15em;
    margin: 0;
}

div.footer {
    border-top: 1px solid white;
    clear: both;
    width: 100%;
    margin-top: 4em;
}

div h1.title {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 0.25em;
    padding-top: 0.25em;
}

div p.tagline {
    font-size: 1.25em;
    padding-bottom: 0.5em;
    line-height: 1.25em;
}

#box3, #box5, #box7, #box9, #box11 {
    background-color: #ff5550;
    color: white;
}

div#box1 {
    text-align: center;
    height: 15em;
    padding-top: 1.5em;
    background-color: #ff5550;
    color: white;
}

div#box1 button {
    width: 40%;
    padding: 1% 0%;
    font-size: 1em;
    background-color: #ff5550;
    color: white;
    border: 1px solid white;
}

div.grid h3 {
    text-align: center;
    position: relative;
    top: 40%;
    font-size: 1.25em;
}

a:hover, button:hover {
    color: #2C2E4F;
}

nav.header-nav a:hover {
    color: #2C2E4F;
}

button {
    cursor: pointer;
}

#index-body {
    background-color: #ff5550;
}

/* Individual pages styles */

div.header {
    width: 100%;
    background-color: #ff5550;
    padding: 1em 1em 11em 2em;
    height: 0em;
    text-align: center;
}

div.header h1 a:hover {
    color: #2C2E4F;
}

div.header h1 {
    font-size: 3em;
}

div.header nav {
    padding: 1em 0em 0em 0em;
}

div.header a {
    color: white;
}

.header-btn {
    width: 35%;
    padding: 3% 5%;
    font-size: 1em;
    background-color: #ff5550;
    color: white;
    border: 1px solid white;
    margin-top: 0.5em;
}

.summary-img {
    width: 90%;
    height: 15em;
    margin: 1em;
}

div.summary {
    width: 90%;
    margin: 1em;
}

.summary h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.summary p {
    line-height: 2.5em;
    margin-left: 1em;
}

div.summary li {
    font-weight: 900;
}

div.summary ul.summary-list {
    list-style: circle;
    line-height: 3em;
    margin-left: 2em;
}

div.footer {
    background-color: #ff5550;
    color: white;
    text-align: center;
    font-size: 1em;
    width: 100%;
    padding: 1%;
}

#img-theater {
    height: 35em;
}

nav.header-nav {
    margin-top: 0.25em;
}

nav.header-nav a {
    margin: 0.25em;
}

/* End of individual pages styles */

/* Contact Form Styles */

form#contact-me {
    margin: 1em;
    font-size: 1.25em;
}

form#contact-me div {
    margin-bottom: 2em;
}

form#contact-me input {
    width: 70%;
    float: right;
    height: 2em;
    padding: 0.5em;
    font-size: 0.70em;
}

form#contact-me textarea {
    width: 70%;
    float: right;
    height: 10em;
    padding: 0.5em;
    font-size: 0.70em;
}

form button {
    clear: both;
    width: 49%;
    height: 2em;
    position: relative;
    left: 25%;
    font-size: 1em;
    border-radius: 4%;
    margin-top: 2em;
    background-color: #ff5550;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}


/* End of Contact Form Styles */

@media screen and (min-width: 600px) and (max-width: 900px) { /* RESPONSIVE DESIGN: MID */
    .responsive {
        float: left;
        width: 50%;
    }

    div.footer {
        border-top: 1px solid white;
    }

    /* Individual Pages styles (responsive-mid) */
    .footer {
        clear: both;
        width: 100%;
    }

    .summary-img {
        width: 20%;
        height: 30em;
        margin: 1em;
    }

    #img-summary {
        width: 95%;
        height: 20em;
        margin: 1em;
        background-position: center;
    }

    div.summary {
        float: right;
        width: 69%;
    }

    div.summary h3 {
        font-size: 2em;
        margin: 3% 0;
    }

    div.summary p {
        line-height: 2.5em;
        margin-left: 1em;
    }

    div.summary li {
        font-weight: 900;
    }

    div.summary ul.summary-list {
        list-style: circle;
        line-height: 3em;
        margin-left: 2em;
    }

    #text-summary {
        text-align: center;
        float: none;
        width: 90%;
        margin: 1em;
    }

    #img-education {
        width: 90%;
        margin-left: 2em;
        background-position: center;
    }

    #text-education {
        float: none;
        width: 90%;
        margin: 1em;
    }

    #img-experience {
        width: 95%;
    }

    #text-experience {
        float: none;
        width: 90%;
    }

    #img-workshops {
        width: 95%;
    }

    #text-workshops {
        clear: both;
        width: 95%;
        float: none;
        margin: 1em;
    }

    #text-theater {
        width: 59%;
    }

    nav.header-nav {
        display: flex;
        justify-content: space-around;
    }

    /* End of Individual Pages styles (responsive-mid) */

} /* END OF RESPONSIVE DESIGN: MID */

@media screen and (min-width: 901px) { /* RESPONSIVE DESIGN: WIDE */
    div.footer {
        border-top: 1px solid white;
    }

    #box1 {
        width: 66.66666%;
        float: left;
    }

    #box2 {
        width: 33.33333%;
        float: right;
    }

    #box3, #box6, #box9 {
        clear: both;
        float: left;
        width: 33.3333%;
    }

    #box4, #box5, #box7, #box8, #box10, #box11 {
        float: left;
        width: 33.3333%;
    }

    div#box1 button {
        width: 12em;
        padding: 1% 0%;
    }

    .header-btn {
        width: 12em;
        padding: 1% 0%;
    }

    #box2 {
        overflow: hidden;
    }

    /* Individual Pages styles (responsive-wide) */

    li {
        font-weight: 900;
    }

    .footer {
        clear: both;
        width: 100%;
    }

    .summary-img {
        float: left;
        width: 20%;
        height: 30em;
        margin: 1em;
    }

    div.summary {
        float: right;
        width: 72%;
    }

    div.summary h3 {
        font-size: 2.5em;
        margin: 3% 0;
    }

    div.summary p {
        line-height: 3em;
        font-size: 1.25em;
        margin-right: 4em;
        padding-left: 1em;
    }

    div.summary ul.summary-list {
        list-style: circle;
        line-height: 3em;
        margin-left: 3em;
    }

    ul p.list-descriptions {
        font-size: 1em;
    }

    #img-summary {
        width: 70%;
        float: none;
    }

    #text-summary {
        width: 90%;
        margin: 1em 5em;
        float: none;
        text-align: center;
    }

    #img-education {
        width: 45%;
        height: 22em;
    }

    #text-education {
        width: 44%;
        float: right;
        margin: 1em 3em 1em 1em;
    }

    #img-experience {
        float: right;
        width: 45%;
    }

    #text-experience {
        float: none;
        width: 100%;
        margin: -1em 1em 1em 1em;
    }

    #img-workshops {
        width: 60%;
        float: right;
    }

    #text-workshops {
        width: 100%;
        float: none;
        margin: -1em 1em 1em 1em;
    }

    #img-theater {
        width: 30%;
    }

    #text-theater {
        float: right;
        width: 59%;
        margin: 1em 3em 1em 1em;
    }

    #box1 {
        border-bottom: 1px solid white;
    }

    nav.header-nav {
        margin-top: 0.70em;
    }

    nav.header-nav a {
        margin: 0.5em;
    }

    /* End of Individual Pages styles (responsive-wide) */
}
    
} /* END OF RESPONSIVE DESIGN: WIDE */